<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

 <connectionStrings><add name="Tienda_PrimaryEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=&quot;C:\USERS\JAVICATALA\DOCUMENTS\VISUAL STUDIO 2015\PROJECTS\WPFAPPLICATION1\WPFAPPLICATION1\TIENDA_PRIMARY.MDF&quot;;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False'" providerName="System.Data.EntityClient" /></connectionStrings></configuration>